# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Application Directories
uploads/
builds/
temp/

# ESP-IDF / Project extraction artifacts
**/build/
**/sdkconfig
**/sdkconfig.old
**/.vscode/
**/.idea/

# OS Files
.DS_Store
Thumbs.db
esp32-moltbot-node
